spring-shell.log

**/*TODO*

# eclipse files
dependency-reduced-pom.xml
*/target/

**/.settings/
**/.project
**/.classpath

# sensitive
/logres/src/main/resources/logres.properties
/.gradle/
/.idea/
**/build/
/local.properties
!/blaise/build/
